* {
  --bg-color: #f0efeb;
}

body{
  background-color: var(--bg-color);
}

h1 {
  animation: color-change 5s infinite;
}

@keyframes color-change {
  0% { color: #54478c; }
  25% { color: #2c699a; }
  50% { color: #f29e4c; }
  75% { color: #b9e769; }
  100% { color: #0db39e; }
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.wrapper > div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.one {
  grid-column: 1 / 3;
  grid-row: 1;
  background-color: #54478c;
  z-index: 1;
}
.two {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
  background-color: #f29e4c;
  z-index: -1;
}
.three {
  grid-column: 1;
  grid-row: 2 / 5;
  background-color: #2c699a;
}
.four {
  grid-column: 3;
  grid-row: 3;
  background-color: #f1c453;
}
.five {
  grid-column: 2;
  grid-row: 4;
  background-color: #0db39e;
}
.six {
  grid-column: 3;
  grid-row: 4;
  background-color: #b9e769;
}