*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
}

* {
  --color-1-hex: #edf2fb;
  --color-2-hex: #e2eafc;
  --color-3-hex: #d7e3fc;
  --color-4-hex: #ccdbfd;
  --color-5-hex: #c1d3fe;
  --color-6-hex: #b6ccfe;
  --color-7-hex: #abc4ff;
}

.wrapper > * ,
.wrapper-2 > *,
.wrapper-3 > *
{
  font-size: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: var(--color-1-hex); */
}

.wrapper {
  display: grid;
  height: 100vh;
  grid-gap: 0.3em;
  grid-template-areas:
  "header"
  "section-1"
  "aside-1"
  "section-2"
  "aside-2"
  "footer"
  ;
}

@media(min-width: 700px) {
  .wrapper{
    display: grid;
    grid-template-areas:
    "header header header header"
    "aside-1 section-1 section-1 aside-2"
    "section-2 section-2 section-2 section-2"
    "section-2 section-2 section-2 section-2"
    "footer footer footer footer"
    ;
  }
}

header {
  grid-area: header;
  background-color: var(--color-7-hex);
}
aside:nth-of-type(1) {
  grid-area: aside-1;
  background-color: var(--color-6-hex);
}
aside:nth-of-type(2) {
  grid-area: aside-2;
  background-color: var(--color-5-hex);
}
section:nth-of-type(1) {
  grid-area: section-1;
  background-color: var(--color-4-hex);
}
section:nth-of-type(2) {
  grid-area: section-2;
  background-color: var(--color-3-hex);
}
footer {
  grid-area: footer;
  background-color: var(--color-2-hex);
}

/*  named grid lines */
.wrapper-2 {
  display: grid;
  grid-gap: 20px;
  height: 100vh;
  grid-template-columns: 100px 300px auto auto;
}

.grid-item {
  background-color: var(--color-7-hex);
}

.grid-item:nth-of-type(2) {
  grid-row-start: span 2;
}

.grid-item:nth-of-type(6) {
  grid-column: 3 / span 2;
}

.wrapper-3 {
  display: grid;
  height: 100vh;
  gap: 1em;
  grid-template-columns:
  [left-sidebar-start] 1fr
  [left-sidebar-end main-content-start] 2fr
  [main-content-end right-sidebar-start] 1fr
  [right-sidebar-end];
  grid-template-rows:
  [body-start] 6fr
  [body-end footer-start] 2fr
  [footer-end];
}
.left-sidebar {
  grid-row: body-start / footer-end;
  background-color: var(--color-1-hex);
}
.main-content {
  background-color: var(--color-3-hex);
}
.right-sidebar {
  background-color: var(--color-5-hex);
}
.footer-3 {
  grid-column: main-content-start / right-sidebar-end;
  background-color: var(--color-7-hex);
}