*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html{
  box-sizing: border-box;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 1.5em;
  font-size: xx-large;
}

body {
  background: #02aab0; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #02aab0, #00cdac); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #02aab0, #00cdac);
  font-family: 'Courier New', Courier, monospace;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  font-size: 1.5rem;
}

main section:nth-child(-n+2) input {
  font-size: large;
  border-radius: .3rem;
  padding: .6rem;
}

main section:nth-child(n+3) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}


main section:nth-child(3) button {
  width: 21%;
  height: 2rem;
  border-radius: .6rem;
  box-shadow: .3rem .6rem dimgrey;
}

main section:nth-child(4) span {
  font-size: 2rem;
  font-weight: 600;
}